version: '2'
services:
  neo4j:
    image: neo4j:latest
    volumes:
      - .docker-data/neo4j:/var/lib/neo4j/data
    environment:
      NEO4J_AUTH: none
    ports:
      - "7474:7474"
      - "7687:7687"
    expose:
      - "7474"
      - "7687"
